body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('imagesindex/Sunrises_and_sunsets_Sky_Roads_Wind_turbine_531925_3840x2160.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    );
}


img {
     height: 550px;
     width: 550px;
     
}
