#carouselExemple {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.carousel-item img {
    width: 100%;
    border: 2px solid black;
    
}

body {
    background: url('images/Sunrises_and_sunsets_Sky_Roads_Wind_turbine_531925_3840x2160.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

.lignes {
    position: absolute;
    top: 6%;
    left: 5%;
}
.l1 {
    width: 210px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}
.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}


.logo {
    position: absolute;
    right: 2.9%;
    top: 4%;
    width: 90px;
    height: 80px;
    cursor: pointer;
}

.medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.logo-medias {
    width: 40px;
    height: 40px;
}

.bulle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}


  